In [63]:
from glob import glob
import pandas as pd
import numpy as np

In [64]:
abundances = glob('./benchmark_data/*/abundance.tsv')
df1 = pd.DataFrame(abundances, columns=['abundance_file'])
df1['dataset'] = df1.abundance_file.apply(lambda x:x.split('/')[2])
df1 = df1.set_index('dataset')

labels = glob('./benchmark_data/*/labels.txt')
df2 = pd.DataFrame(labels, columns=['label_file'])
df2['dataset'] = df2.label_file.apply(lambda x:x.split('/')[2])
df2 = df2.set_index('dataset')

df = df1.join(df2)

In [65]:
infos = []
for i in range(len(df)):
    name = df.iloc[i].name
    dfa = pd.read_csv(df.abundance_file.iloc[i],sep='\t', header=None, index_col=0)
    dfb = pd.read_csv(df.label_file.iloc[i],sep='\t', header=None, index_col=0)
    dfa.columns = dfb.index
    dfa = dfa.T
    s, n = dfa.shape
    info = {'dataset':name, '# of sample':s, '# of feature': n}
    details = dfa.index.value_counts().to_dict()
    info.update({'label_detail': details})
    infos.append(info)

In [66]:
pd.DataFrame(infos)

,dataset,# of sample,# of feature,label_detail
0,T2D,440,606,"{'t2d': 223, 'n': 217}"
1,CRC,134,507,"{'cancer': 48, 'n': 47, 'adenoma': 39}"
2,IBD,110,443,"{'n': 85, 'ibd': 25}"
3,Cirrhosis,232,542,"{'cirrhosis': 118, 'n': 114}"
4,Obesity,253,465,"{'obesity': 164, 'leaness': 89}"