In [3]:


# Build pairwise binary adjacency matrix.
adjacency = torch.eq(labels, labels.transpose(0, 1))
# Invert so we can select negatives only.
adjacency_not = adjacency.logical_not()

NameError: name 'labels' is not defined

In [28]:
import torch
import numpy as np
import pandas as pd

In [69]:
target = np.random.randint(-2, 15, size = (16, 1))

array([[10.],
       [-2.],
       [ 6.],
       [ 3.],
       [ 0.],
       [ 7.],
       [ 8.],
       [ 5.],
       [12.],
       [ 4.],
       [-1.],
       [ 1.],
       [ 9.],
       [13.],
       [11.],
       [-2.]], dtype=float32)

In [82]:
#随机生成一个target
target = np.random.randint(-2, 15, size = (16, 1))
target = target.astype('float32')
target = torch.from_numpy(target)


#计算target pairwise l1 distance
target_l1_dist = torch.cdist(target, target, p = 1)

#活性悬崖阈值
cliff = 3.0

## negatives index
adjacency_not  = target_l1_dist > cliff

In [84]:
pd.DataFrame(adjacency_not.numpy())*1

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0    0   1   1   1   1   0   1   1   0   0   1   1   1   0   0   1
1    1   0   0   1   0   1   1   1   1   1   0   0   0   1   0   0
2    1   0   0   1   0   1   1   1   1   1   0   0   0   1   0   0
3    1   1   1   0   1   1   0   0   1   1   1   1   1   0   1   1
4    1   0   0   1   0   1   1   1   1   1   1   1   0   1   0   0
5    0   1   1   1   1   0   1   0   0   0   1   1   1   0   1   1
6    1   1   1   0   1   1   0   0   1   1   1   1   1   0   1   1
7    1   1   1   0   1   0   0   0   1   1   1   1   1   0   1   1
8    0   1   1   1   1   0   1   1   0   0   1   1   1   0   0   1
9    0   1   1   1   1   0   1   1   0   0   1   1   1   0   0   1
10   1   0   0   1   1   1   1   1   1   1   0   0   0   1   1   1
11   1   0   0   1   1   1   1   1   1   1   0   0   0   1   1   1
12   1   0   0   1   0   1   1   1   1   1   0   0   0   1   1   0
13   0   1   1   0   1   0   0   0   0   0   1   1   1   0   1   1
14   0   0   0   1   0   1   1   1   0   0   1   1   1   1   0   0
15   1   0   0   1   0   1   1   1   1   1   1   1   0   1   0   0

In [51]:
labels

tensor([[0.1270, 0.1988, 0.1433, 0.9720, 0.2728, 0.2723, 0.4641, 0.7583, 0.7053,
         0.7792, 0.3053, 0.9673, 0.5347, 0.9178, 0.1727, 0.5769]],
       dtype=torch.float64)

In [31]:
adjacency_not = torch.eq(labels, labels.transpose(0, 1)).logical_not()

In [34]:
pd.DataFrame(adjacency_not.numpy())*1

    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0    0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
1    0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
2    0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
3    1   1   1   0   1   0   1   0   0   1   1   1   0   0   1   1
4    0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
5    1   1   1   0   1   0   1   0   0   1   1   1   0   0   1   1
6    0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
7    1   1   1   0   1   0   1   0   0   1   1   1   0   0   1   1
8    1   1   1   0   1   0   1   0   0   1   1   1   0   0   1   1
9    0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
10   0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
11   0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
12   1   1   1   0   1   0   1   0   0   1   1   1   0   0   1   1
13   1   1   1   0   1   0   1   0   0   1   1   1   0   0   1   1
14   0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0
15   0   0   0   1   0   1   0   1   1   0   0   0   1   1   0   0

In [33]:
pd.DataFrame(y_true)

    0
0   1
1   1
2   1
3   0
4   1
5   0
6   1
7   0
8   0
9   1
10  1
11  1
12  0
13  0
14  1
15  1